:root{
    --light-color: #ffa0d2;
    --dark-color: #fff8cd ;
    --dadark-color: #ff78ae;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-container{
    background: linear-gradient(to bottom, var(--dark-color),var(--light-color));
    height: 450px;
}
.top-wrapper{
    width: 600px;
    height: 450px;
    margin: 0 auto;
    border: 2px solid whitesmoke;
    position: relative;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
.cloud{
    position: absolute;
}
.mountain{
    position: absolute;
    bottom: 0;
    left:0;
}
.cloud1{
    left:17%;
    top:40%;
}
.cloud2{
    left:67%;
    top:50%;
}
.p{
    text-decoration: underline;
    font-family: 'Source Serif Pro', serif;
    
}
.profile_image{
    width: 100px;
}
.profile{
    width: 800px;
    margin: 2rem auto;
    text-align: center;
}

.underlined{
    text-decoration: underline;
}
.middle-container{
    width: 800px;
    margin: 2rem auto;
    border: 1px solid red;
}
.skills img{
    width: 100px;
}
.img-skill1{
    float: left;
    margin-right: 2rem;
    margin-top: 1rem; 
}

.img-skill2{
    float: right;
    margin-left: 2rem;
    margin-top: 2rem;  
}